html, body {
  margin: 0px;
  padding: 0px;
}
i{
  color: #ECECED;
}
nav {
  grid-area: nav; 
}
main {
  grid-area: main;
}
footer {
  grid: footer;
}
.grid-container{
  display: grid;
  height: 100vh;
  grid-template-areas: 
  "nav"
  "filter"
  "main"
  "footer";
  grid-template-rows: 10% 10% 70% 10%;
}
.flex-nav {
  display: flex;
  background-color: #23234B;
  color: #ECECED;
}
.flex-header {
  display: flex;
  align-items: center;
  gap: 15rem;
  padding-left: 1rem;
}
.flex-menu-container {
  display: none;
}
.flex-menu-container a {
  text-decoration: none;
  color: #ECECED;
}
.grid-product-container{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.flex-filter {
  grid-area: filter;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background-color: #D3167C;
  color: #ECECED ;
}
.flex-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
  gap: 1rem;
}
.flex-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid #241A44;
  width: 14rem;
}
.flex-card img {
  width: 100%;
}
.flex-card button{
  width: 100%;
  background-color: #285B77;
  color: #ECECED;
  padding: 1rem;
}
.flex-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding-top: 0.5rem;
}
.flex-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 1rem;
  background-color: #06CFCE ;
  color: #ECECED ;
 
}
.flex-socialmedia-container {
  display: flex;
  justify-content: center; 
  gap: 1rem;
}
.flex-socialmedia-container img {
  width: 15%;
}
.card-hide {
  display: none;
}
@media (min-width: 576px) {
.grid-container{
  display: grid;
  grid-template-areas: 
  "nav filter"
  "nav main"
  "footer main";
  grid-template-columns: 20% 80%;
  grid-template-rows: 10% auto 20%;
}
.flex-nav {
  display: flex;
  flex-direction: column;
}
.flex-header i{
  display: none;
}
.flex-menu-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.flex-card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 1.3rem;
}
.flex-card {
  display: flex;
}
}


